<div class="task" data-id="<%= task.id %>">
  <div>
    <p class="title"><%= task.title %></p>
  </div>
  <div class="operations" data-id="<%= task.id %>">
    <p class="status <%= task.completed ? 'success' : 'secondary' %>">
      <%= task.completed ? 'Completed' : 'In progress' %>
    </p>
    <button
      class="toggle-button button <%= !task.completed ? 'success' : 'secondary' %>"
    >
      Toggle
    </button>
    <button class="edit-button button">Edit</button>
    <button class="delete-button button">Delete</button>
  </div>
</div>